
<p-fieldset legend="Artículos">
    <div>
        <p-table #dt [tableStyle]="{'min-width': '60rem'}" [value]="articulos" >

            <ng-template pTemplate="caption">
                <div class="buscador">
                    <span class="p-input-icon-left ml-auto buscador" >
                        <i class="pi pi-search"></i>
                        <input pInputText type="text"  placeholder="Buscar..." (input)="dt.filterGlobal($event.target, 'contains')"  />
                        
            
                    </span>
                    <button pButton label="Limpiar búsqueda" class="p-button-outlined" icon="pi pi-filter-slash"></button>
                </div>
            </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nombreArticulo" style="width:25%">Nombre del artículo <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="fecha" style="width:10%">Fecha de publicación <p-sortIcon></p-sortIcon></th>
                <th pSortableColumn="revista" style="width:20%">Revista <p-sortIcon ></p-sortIcon></th>
                <th pSortableColumn="estado" style="width:15%">Estado <p-sortIcon ></p-sortIcon></th>
                <th pSortableColumn="opciones" style="width:30%">Opciones <p-sortIcon></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-articulo | buscador:buscadorArticulo >
            <tr>
                <td>{{articulo.nombreArticulo}}</td>
                <td>{{articulo.fecha  | date:'MMMM - YYYY' }}</td>
                <td>{{articulo.revista}}</td>
                <td>{{articulo.estado}}</td>
                <td>
                    <p-button styleClass="p-button-rounded p-button-success p-button-text" (click)="mostrarDialogoDetalleArticulo(articulo.id)">
                        <i class="pi pi-eye"pTooltip="Detalle" tooltipPosition="top"></i>
                    </p-button>

            

                    <p-button styleClass="p-button-rounded p-button-text" (click)="mostrarDialogoEdicionArticulo(articulo.id)">
                        <i class="pi pi-pencil" pTooltip="Editar o completar artículo" tooltipPosition="top"></i>
                    </p-button>
                    
                   
                  
                    <p-button styleClass="p-button-rounded p-button-danger p-button-text" (click)="mostrarDialogoEliminacionArticulo(articulo.id)">
                        <i class="pi pi-trash" pTooltip="Eliminar artículo" tooltipPosition="top"></i>
                    </p-button>
                    

                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<div class="contBoton">
    <a routerLink="crear-articulo">
        <p-button label="Crear artículo"></p-button>  
    </a>
</div>

</p-fieldset>
  

<p-dialog header="Detalle artículo" [style]="{ width: '40vw'}" (onHide)="dialogoDetalleArticulo = false" [(visible)]="dialogoDetalleArticulo">
    <app-detallearticulo [id]="idArticulo"></app-detallearticulo>
</p-dialog>


<p-dialog *ngIf="idArticulo" header="Editar artículo" [style]="{ width: '50vw'}" (onHide)="dialogoEdicionArticulo = false" [(visible)]="dialogoEdicionArticulo">
    <app-edicionArticulo [id]="idArticulo"></app-edicionArticulo>
</p-dialog>


<p-dialog header="Eliminar artículo" [style]="{ width: '30vw'}" (onHide)="dialogoEliminacionArticulo = false" [(visible)]="dialogoEliminacionArticulo">
    <app-eliminacionArticulo [id]="" (cerrarEvent)="cerrarDialogo($event)"></app-eliminacionArticulo>
</p-dialog>
