.divOpciones{
    justify-self: last baseline;
    justify-self: right;
    width: 10px;
}

.menu{
    width: 23%;
    margin-top: 40px;
    margin-bottom: 45px;
}

.centro{
    width: 75%;
    display: flex;
}
