
<p-splitter [style]="{ height: '300px'}" [panelSizes]="[20, 80]" [minSizes]="[10, 0]" styleClass="mb-7">

    
    <ng-template pTemplate>
        <p-splitter layout="vertical" [panelSizes]="[15, 85]">
            
            <ng-template pTemplate>
                <div style="flex-grow: 1;" class="flex align-items-center justify-content-center">
                    <app-componentesuperior></app-componentesuperior>
                </div>
            </ng-template>

    
            <ng-template pTemplate>
                <p-splitter class="menu" [panelSizes]="[10, 10]">
                    <ng-template pTemplate>
                        <div class="col flex align-items-center justify-content-center">
                            <app-menu></app-menu>     
                        </div>
                    </ng-template>
                </p-splitter>

                <p-splitter class="centro" [panelSizes]="[40, 80]">
                    <ng-template pTemplate>
                        <div class="col flex align-items-center justify-content-center">
                        
                            <app-informacioninicio></app-informacioninicio>
                            <router-outlet></router-outlet>
                        
                        </div>
                    </ng-template>
                </p-splitter>

            </ng-template>


            <ng-template pTemplate>
                <div style="flex-grow: 1;" class="flex align-items-center justify-content-center">
                    <app-componenteinferior></app-componenteinferior>
                </div>
            </ng-template>
            
        </p-splitter>
    </ng-template>
</p-splitter>