<div class="contElementosInicio">
   

    <div class="opcPermanentes">
        <div class="elementosInicio">
            <p-chip label="Fernando Barreto" image="../assets/images/fotofernando.png" pBadge value="1" tooltipPosition="left"  pTooltip="Ver notificaciones" placeholder="hover to display tooltip"></p-chip>
        </div>

        <div class="elementosInicio">
            <a href="ingreso">
                <p-button label="Salir" styleClass="p-button-rounded p-button-warning p-button-sm">
                    <i class="pi pi-sign-out"></i>
                </p-button>
            </a>

        </div>
    </div>
</div>