.contElementosInicio{
    display: flex;
    width: 1000px;
    padding: 3px;
    align-items: center;
    justify-content: right;
    margin: 3px;
}


.elementosInicio{
    display: flex;
    align-items: center;
    padding: 1px;
}

.opcPermanentes{
    display: flex;
    text-align: right;
    float: right;
}