.textoBienvenida{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 105%;
    color: rgb(112, 109, 109);
    font-weight: 500;
    margin-right:500px;
    display: flex;
    padding: 3px;
    float: left;
}