<div class="flex py-2 justify-content-center">
  <p>¿Está seguro que desea eliminar el artículo? </p>
  <div class="botonesEliminar">
    <p-button label="Eliminar"></p-button>  
    <p-button label="Cancelar" (click)="cerrar()"></p-button>  
  </div>

</div>

