
<div class="formularioArticulo">

        <label class="labelForm elemDetalle" for="tipoArticulo">Tipo de artículo: </label>
        <p  class="elemDetalle">{{articulo.tipoArticulo}}</p>

        <label class="labelForm elemDetalle" for="nombreArticulo">Nombre del artículo:</label>
        <p class="elemDetalle">{{articulo.nombreArticulo}}</p>

        <label class="labelForm elemDetalle" for="revista">Revista: </label>
        <p class="elemDetalle">{{articulo.revista}}</p>

        <label class="labelForm elemDetalle" for="issnRevista">ISSN: </label>
        <p class="elemDetalle">{{articulo.issnRevista}}</p>
         
        <label class="labelForm elemDetalle" for="fecha">Fecha de publicación: </label>
        <p class="elemDetalle">{{articulo.fecha}}</p>

        <label class="labelForm elemDetalle" for="volumen" for="">Volumen: </label>
        <p class="elemDetalle">{{articulo.volumen}}</p>

        <label  class="labelForm elemDetalle"for="numero" for="">Número: </label>
        <p class="elemDetalle">{{articulo.numero}}</p>

        <label class="labelForm elemDetalle" for="resumen">Resumen: </label>
        <p class="elemDetalle" >{{articulo.resumen}}</p>




</div>