.formularioArticulo{
    height: 100%;
    display:grid;
    grid-template-columns: 200px 200px;
    padding: 5px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;

}

.elemDetalle{
    padding-left: 50px;
}

.labelForm{
    font-weight: 500;
}