.contenedorLoggin{
    position: relative;
    display: inline-block;
    text-align: center;
}

.divIngreso{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 75%;
    background-color: black;
    opacity: 80%;
    border-radius: 30px;
}

.imagenIngreso{
    opacity: 90%;
}

.tituloIngreso{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}

.divTextosIngreso{
    margin-top: 25px;
    justify-content: left;
    justify-self: left;
}

.textoIngreso{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    margin: 4px;
    justify-content: left;
}

.labelForm{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    color: white;
    font-weight: 400;
    margin: 5px;
    display: flex;
    padding: 3px;
    float: left;
}

.formularioIngreso{
    display: grid;
    margin: 15px;
    align-items: center;
    justify-content: center;
}

.contBoton{
    margin-top: 15px;
    margin-bottom: 15px;
}

.divRegistro{
    align-items: end;
}

.input{
    width: 200px;
}

.enlaceRegistroCvLAC{
    font-size: large
}
