<div *ngIf="!cargando">
<div  class="contenedorLoggin">
    <img class="imagenIngreso" src="../assets/images/imageningreso.jpg" alt="Imagen ingreso" width="100%">
    <div class="divIngreso">
        <h2 class="tituloIngreso">INGRESO:</h2>
        <div class="divTextosIngreso">
            <p class="textoIngreso">Bienvenido a la aplicación CvLAC</p>
            <p class="textoIngreso">Diligencie sus datos de ingreso</p>
        </div>

        <form class="formularioIngreso" [formGroup]="login" (ngSubmit)="ingresar()">

            <label class="labelForm" for="tipoDocumento">Tipo de documento: </label>
            <p-dropdown class="input" id="tipoDocumento" formControlName="tipoDocumento" [options]="tipoDocumento"
                placeholder="Seleccione" [virtualScroll]="true" [virtualScrollItemSize]="38"></p-dropdown>

            <label for="numDocumento" class="labelForm" for="">Número de documento: </label>
            <input class="input" id="numDocumento" formControlName="numDocumento" type="text" pInputText />


            <label for="clave" class="labelForm" for="">Contraseña: </label>
            <input class="input" id="clave" formControlName="clave" type="password" pInputText />

            <div class="contBoton">
                <!---<a href="/inicio">--->

                <p-button label="Ingresar" pRipple type="submit" [disabled]="login.invalid"></p-button>
                <!---</a>--->
            </div>
        </form>

        

        <div class="divRegistro">
            <p class="textoIngreso">Si aún no se ha registrado, ingrese </p>
            <a href="" class="enlaceRegistroCvLAC">aquí</a>

        </div>

    </div>
</div>
<app-componenteinferior></app-componenteinferior>
</div>

<p-toast></p-toast>
<app-cargando *ngIf="cargando"></app-cargando>
