<p-fieldset legend="Datos básicos">
  <form class="formularioDatosBasicos" action="" [formGroup]="formDatosBasicos">

    <label class="labelForm" for="nombrePersona">Nombre completo: </label>
    <input id="nombrePersona" type="text" pInputText formControlName="nombrePersona" />

    <label class="labelForm" for="apellidosPersona">Apellidos completos: </label>
    <input id="apellidosPersona" type="text" pInputText formControlName="apellidosPersona" />

    <label class="labelForm" for="tipoDocumento">Tipo de documento: </label>
    <p-dropdown id="tipoDocumento" [options]="tipoDocumento" placeholder="Seleccione" [virtualScroll]="true"
      [virtualScrollItemSize]="38" formControlName="tipoDocumento"></p-dropdown>

    <label for="numDocumento" class="labelForm" for="">Número de documento: </label>
    <input id="numDocumento" type="text" pInputText formControlName="numDocumento" />


    <label class="labelForm" for="fechaNacimiento">Fecha de nacimiento: </label>
    <p-calendar formControlName="fechaNacimiento"></p-calendar>


    <label class="labelForm" for="estadoCivil">Estado civil: </label>
    <p-dropdown id="estadoCivil" [options]="estadoCivil" placeholder="Selecione su estado civil" [virtualScroll]="true"
      [virtualScrollItemSize]="38" formControlName="estadoCivil"></p-dropdown>


  </form>

  
  <div class="contBotonGuardar">
    <p-button [disabled]="formDatosBasicos.invalid" (click)="procesar()"  label="Guardar"></p-button>
  </div>
</p-fieldset>