.formularioDatosBasicos{
    display:grid;
    padding: 5px;
    align-items: center;
    justify-content: center;

}

.labelForm{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    color: rgb(112, 109, 109);
    font-weight: 400;
    margin: 5px;
    display: flex;
    padding: 3px;
    float: left;
}



.contBotonGuardar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


.p-component, .p-component * {
    box-sizing: border-box;
    height: 30px;
}

.p-inputtext {
    margin: 0;
    height: 30px;
}