.formularioArticulo{
    height: 100%;
    display:grid;
    padding: 5px;
    padding-top: 80px;
    align-items: center;
    justify-content: center;

}

.labelForm{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    color: rgb(112, 109, 109);
    font-weight: 400;
    margin: 5px;
    display: flex;
    padding: 3px;
    float: left;
}



.contBoton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}


.p-component, .p-component * {
    box-sizing: border-box;
    height: 30px;
}

.p-inputtext {
    height: 30px;
}

.contadorCaracteres{
    display: flex;
    justify-content: right;
    height: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    color: rgb(41, 114, 41);
    align-items: center;
}


.avisoCaracterExcedidos{   
    display: flex;
    justify-content: right;
    height: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small; 
    color: rgb(197, 55, 55);
    align-items: center;
}