<form class="formularioArticulo" [formGroup]="editArticulo">
    <br>
    <br>
    <br>
    <label class="labelForm" for="tipoArticulo">Tipo de artículo: </label>
    <p-dropdown id="tipoArticulo" [options]="items" placeholder="Seleccione el tipo" [virtualScroll]="true"
        [virtualScrollItemSize]="38" formControlName="tipoArticulo" ></p-dropdown>
    <div class="mensajeValidacion" *ngIf="tipoArticulo.errors && tipoArticulo.dirty">
        <span *ngIf="tipoArticulo.errors?.['required']">
            Campo obligatorio
        </span>
    </div>



    <label class="labelForm" for="nombreArticulo">Nombre del artículo:</label>
    <input id="nombreArticulo" type="text" pInputText formControlName="nombreArticulo"
        placeholder="Ingrese el nombre del artículo"/>
    <div class="mensajeValidacion" *ngIf="nombreArticulo.errors && nombreArticulo.dirty">
        <span *ngIf="nombreArticulo.errors?.['required']">
            Campo obligatorio
        </span>

        <span *ngIf="nombreArticulo.errors?.['minlength']">
            Tamaño mínimo: 1 caracteres
        </span>

        <span *ngIf="nombreArticulo.errors?.['maxlength']">
            Tamaño máximo: 200 caracteres
        </span>
    </div>


    <label class="labelForm" for="revista">Revista: </label>
    <input id="revista" type="text" pInputText formControlName="revista"
        placeholder="Ingrese el nombre de la revista" />
    <div class="mensajeValidacion" *ngIf="revista.errors && revista.dirty">
        <span *ngIf="revista.errors?.['required']">
            Campo obligatorio
        </span>

        <span *ngIf="revista.errors?.['minlength']">
            Tamaño mínimo: 3 caracteres
        </span>

        <span *ngIf="revista.errors?.['maxlength']">
            Tamaño máximo: 200 caracteres
        </span>
    </div>


    <label class="labelForm" for="issnRevista">ISSN: </label>
    <input id="issnRevista" type="text" placeholder="0000-0000" pInputText formControlName="issnRevista" />
    <div class="mensajeValidacion" *ngIf="issnRevista.errors && issnRevista.dirty">
        <span *ngIf="issnRevista.errors?.['required']">
            Campo obligatorio
        </span>

        <span *ngIf="issnRevista.errors?.['minlength'] || issnRevista.errors?.['maxlength']">
            Formato inválido
        </span>

    </div>




    <label class="labelForm" for="fecha">Fecha de publicación: </label>
    <p-calendar id="fecha" view="month" dateFormat="mm/yy" [readonlyInput]="true" formControlName="fecha"
        placeholder="Seleccione la fecha"></p-calendar>
    <div class="mensajeValidacion" *ngIf="fecha.errors && fecha.dirty">
        <span *ngIf="fecha.errors?.['required']">
            Campo obligatorio
        </span>

    </div>


    <label for="volumen" class="labelForm" for="">Volumen: </label>
    <input id="volumen" type="text" pInputText formControlName="volumen" placeholder="Ingrese el volumen"/>

    <div class="mensajeValidacion" *ngIf="volumen.errors && volumen.dirty">
        <span *ngIf="volumen.errors?.['required']">
            Campo obligatorio
        </span>

        <span *ngIf="volumen.errors?.['maxlength']">
            Tamaño máximo: 100 caracteres
        </span>
    </div>


    <label for="numero" class="labelForm" for="">Número: </label>
    <input id="numero" type="text" pInputText formControlName="numero" placeholder="Ingrese el número" />
    <div class="mensajeValidacion" *ngIf="volumen.errors && volumen.dirty">
        <span *ngIf="numero.errors?.['required']">
            Campo obligatorio
        </span>

        <span *ngIf="numero.errors?.['maxlength']">
            Tamaño máximo: 100 caracteres
        </span>
    </div>



    <label class="labelForm" for="resumen">Resumen: </label>
    <span class="contadorCaracteres" *ngIf="resumen.value.length == 0">
        100 caracteres permitidos
    </span>

    <span class="contadorCaracteres" *ngIf="resumen.value.length > 0 && resumen.value.length < 100">
        Quedan
        {{max - resumen.value.length }}
        caracteres
    </span>
    <span class="avisoCaracterExcedidos" *ngIf="resumen.value.length >= 100">
        ¡Alto! Excedió el número de caracteres permitidos
    </span>



    <textarea id="resumen" rows="5" cols="30" pInputTextarea formControlName="resumen"></textarea>
    <div class="mensajeValidacion" *ngIf="resumen.errors && resumen.dirty">
        <span *ngIf="resumen.errors?.['required']">
            Campo obligatorio
        </span>

        <span *ngIf="resumen.errors?.['minlength']">
            Tamaño mínimo: 20 caracteres
        </span>

        <span *ngIf="resumen.errors?.['maxlength']">
            Tamaño máximo: 100 caracteres
        </span>
    </div>



    <div class="contBoton">
        <p-toast></p-toast>
        <p-button label="Guardar" pRipple (click)="editar()" [disabled]="editArticulo.invalid"></p-button>
    </div>

</form>