.p-button {
    background-color: rgb(61, 162, 152);
    border-color: white;
    height: 40px;
    margin: 5px;
}

.p-button:disabled {
    cursor: default;
    background: rgb(30, 78, 73);
}

.p-button:enabled:hover {
    background:rgb(84, 221, 207);
    color: #292c30;
    border-color: rgba(12, 31, 29, 0.767);
}




.p-fieldset .p-fieldset-content {
    padding: 5px;
}


.p-fieldset .p-fieldset-legend {
    display: flex;
    align-items: center;
    padding: 1.25rem;
    border: 1px solid #dee2e6;
    color: rgba(61, 162, 152);
    background: #f8f9fa;
    font-weight: 700;
    border-radius: 6px;
    height: 10px;
}


.p-dropdown .p-dropdown-label.p-placeholder {
    color: #6c757d;
    height: 30px;
    display: flex;
    align-items: center;
}


.p-inputtext {
    margin: 0;
    height: 30px;
}


.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text {
    color: #495057;
    font-weight: 500;
}


.p-dialog .p-dialog-header .p-dialog-title {
    color: white;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}



.p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background-color:rgb(61, 162, 152);
    color: white;
    padding: 1.5rem;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    height: 50px;
    display: flex;
    align-items: center;
    opacity: 1;
}




.p-dialog .p-dialog-header .p-dialog-header-icon {

    color: white;

}


.p-dialog .p-dialog-content {
    background: #ffffff;
    color: #495057;
    padding: 15px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-dropdown .p-dropdown-label {
    background: transparent;
    border: 0 none;
    display: flex;
    align-items: center;
    width: 150px;
}


.mensajeValidacion{
    background-color: rgb(236, 196, 196);
    color: rgb(105, 31, 31);
    padding: 4px;
    margin: 4px;
    width: 100%;
    height: 28px;
    align-items: center;
    border-radius: 5px;
}



.p-panelmenu .p-panelmenu-header > a:focus {
    background-color: #dee2e6;
}



.p-panelmenu .p-panelmenu-header > a:target {
    background-color: rgba(61, 162, 152)
}

.p-menuitem-link-active{
    background-color: #dee2e6;
}


.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    display: flex;
}


.p-datatable .p-datatable-header{
    display: flex;
    align-items: center;
    justify-content: center;
}