
.iconosHeader{
    width: 100%;
    height: 150px;
    background: rgb(61, 162, 152);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.iconMinisterio{
    display: flex;
    justify-content: right;
    justify-items: right;
    align-self: center;
    margin-left: 50px;
    padding: 5px;
}

.logoCvLAC{
    display: flex;
    justify-content: left;
    justify-items: left;
    align-self: center;
    margin-right: 50px;
    padding: 5px;
}


.iconosSuperior{
    border-radius: 12%;
}