<div class="iconosHeader">
    <div class="logoCvLAC">
        <img class="iconosSuperior" src="../assets/images/cvlac.png" alt="logo CvLAC" width="250">
        
    </div>
    <div class="iconMinisterio">
        <img class="iconosSuperior" src="../assets/images/ministerio.png" alt="logo Minciencias" width="250">
    </div>
</div>
