
.elementosFooter{
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    align-items: center;
    margin-top: 2px;
}

.textContacto{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1px;
    margin: 1px;
    font-size: 95%;

}

.infoContacto{
    width: 40%;
}



.iconosGobierno{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logoGov{
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
}

.infoRedes{
    width: 20%;
    display: grid;
}

.iconosRedes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.textRedes{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1px;
    margin: 1px;
    font-size: 95%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
