

<div class="elementosFooter">

    <div class="iconosGobierno">
        
        <div class="logoGov">
            <img src="../assets/images/gobierno.png" alt="logo url gobierno de Colombia" width="130">
            
        </div>
        <div class="logoGov">
            <img src="../assets/images/gobierno2.png" alt="logo gobierno de Colombia" width="130" >
            
        </div>
    
    </div>


    <p-divider layout="vertical"></p-divider>


    <div class="infoContacto">
        <p class="textContacto">
            Ministerio de Ciencia Tecnología e Innovación
        </p>
        <p class="textContacto">
            Dirección: Avenida Calle 26 No. 57 - 83 Torre 8 - Pisos del 2 al 6
        </p>
        <p class="textContacto">
            Código Postal: 111321
        </p>
        <p class="textContacto">
            Horario de Atención: Lunes a Jueves 8:00am - 5:00pm y Viernes 7:00am- 4:00pm (Jornada continua).
        </p>


    </div>


    <p-divider layout="vertical"></p-divider>

    <div class="infoRedes">
        <p class="textRedes">Síganos en nuestras redes:</p>
        <div class="iconosRedes">
            <a class="btn btn-primary" href="https://twitter.com/MincienciasCo">
                <p-button icon="pi pi-twitter" styleClass="p-button-rounded p-button-info"></p-button>
            </a>
            <a class="btn btn-primary" href="https://www.youtube.com/@MincienciasCanalOficial">
                <p-button icon="pi pi-youtube" styleClass="p-button-rounded p-button-danger"></p-button>
            </a>
        </div>
    </div>


</div>
